/* Telefones em paisagem e abaixo */
@media (max-width: 480px) { 
     /* estilos aqui */
 }
 
/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
     /* estilos aqui */
}
 
/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
     /* estilos aqui */
}
 
/* Desktop grande */
@media (min-width: 1200px) {
    /* estilos aqui */
}
body
{
    padding:0;
    margin:0;
    background-color: #ebebeb;
    
}
h1 {
	text-align:center;
}

h2{
	text-align:center;
	
}
main {
	text-align:center;
}

.container
{
    width: 80%;
    margin:auto;
    overflow: hidden;
    background-image: url('http://www.adventurefair.com.br/img/bgrodape.png') no-repeat;
}

header
{
    background:#708090;
    color:#ffffff;
    padding-top:30px;
    min-height: 70px;
    border-bottom: #ff3030 5px solid;
}



header a
{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
	

}

header li
{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}

header nav
{
    float: right;
    margin-top: 10px;
}

nav ul li a
{
    border-top: 2px solid #ff3030;
}

#showcase
{
    min-height: 336px;
    background: url('http://www.adventurefair.com.br/admin/banner/banner5.png') no-repeat 0 0px ;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 18%;
   
    
}
textarea{
	resize: none;
}
.box img
{
    width:  20%;
    margin: 0 80px 0 80px;
    height: 20%;
    margin-bottom: 30px;

}

.footer{
    background: #708090;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    border-bottom: #ff3030 5px solid;
}
.cadastro{
	font-weight: 100px;
		
}
.